<div class="top-interna">
	<div class="container">
	</div>
	<div class="title-page">
		<div class="container">
			<h4>Detalhes</h4>
			<span>Consulte cada nota declarada ou utilize filtros em sua pesquisa</span>
		</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	$('.search-button-toggle').click(function(){
		$('.container-search').hide();
	});
});

</script>
<div class="container detail-container" style="margin-top:0px;">
    <div class="card">
      <div class="card-body" style="padding-top:0px;">
        <div class="col-md-12 text-center"><a href="javascript:void(0);" class="search-button-toggle"><img src="../assets/img/icon-search.png" /><h4>Filtros <i class="fas fa-caret-down"></i></h4></a></div>
        <div class="row container-search">
          <div class="col-md-4">
            <div class="form-group">
              <label for="memberPoliticalName">Deputado</label>
              <input type="text" class="form-control" id="memberPoliticalName" placeholder="Nome Do Deputado" [(ngModel)]="detailParameters.memberPoliticalName">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Partido</label>
              <input type="text" class="form-control" id="memberParty" placeholder="Partido"  [(ngModel)]="detailParameters.memberParty">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label for="supplierId">CPF/CNPJ do Fornecedor</label>
              <input type="text" class="form-control" id="supplierId" placeholder="CPF ou CPNJ sem Separadores"  [(ngModel)]="detailParameters.supplierId">
            </div>
            <div class="form-group">
              <label for="supplierName">Nome do Fornecedor</label>
              <input type="text" class="form-control" id="supplierName" placeholder="Nome do Fornecedor"  [(ngModel)]="detailParameters.supplierName">
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label for="expenseValueFrom">Valor De</label>
                <input type="number" class="form-control" id="expenseValueFrom" placeholder="0"  [(ngModel)]="detailParameters.expenseValueFrom">
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label for="expenseValueTo">Valor Até</label>
                <input type="number" class="form-control" id="expenseValueTo" placeholder="9999" [(ngModel)]="detailParameters.expenseValueTo">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label for="expenseDateFrom">Data De</label>
                <input type="date" class="form-control" id="expenseValueFrom" placeholder="" [(ngModel)]="detailParameters.expenseDateFrom">
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label for="expenseDateTo">Data Até</label>
                <input type="date" class="form-control" id="expenseValueTo" placeholder="" [(ngModel)]="detailParameters.expenseDateTo">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <button class="btn btn-secondary" (click)="resetParameters()">Limpar</button>
            <button class="btn btn-primary" (click)="getDetails()">Pesquisar</button>
        </div>
      </div>
    </div>

    <div class="card result-card">
      <div class="card-body">
        <h4 class="card-title">
		  <img src="./assets/img/icon4.png" />
		  <div>
        Resultados
        <span>Pressione 'Pesquisar' para atualizar os resultados.</span>
		  </div>
        </h4>
        <ngx-datatable class="bootstrap"
        [rows]="detailRows"
        [columns]="detailCols"
        [columnMode]="'flex'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'46'"
        [messages]="{emptyMessage:'Sem dados para exibir',totalMessage:'no total'}">>
          <ngx-datatable-column prop="memberPoliticalName" name="Deputado(a)"  [flexGrow]="3">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span [ngbTooltip]="row.memberName" container="body">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="memberParty" name="Partido" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="expenseType" name="Tipo" [flexGrow]="6">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span [ngbTooltip]="value | expenseType" container="body">{{value | expenseType}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="supplierName" name="Fornecedor" [flexGrow]="6">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span [ngbTooltip]="value + ' (' + row.supplierId + ')'" container="body">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="expenseValue" name="Valor" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | currency:"R$"}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="expenseDate" name="Data" [flexGrow]="2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{value | date:'shortDate'}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
</div>
