<div class="top-interna">
    <div class="container">
    </div>
    <div class="title-page">
      <div class="container">
        <h4>Blog</h4>
        <span>Acompanhe publicações com base nos dados publicados</span>
      </div>
    </div>
  </div>
  <script>
  $( document ).ready(function() {
    $('.search-button-toggle').click(function(){
      $('.container-search').hide();
    });
  });
  
  </script>

<div class="col-md-12 external-content">
  <object type="text/html" data="http://cidadaofiscal.org/blog"></object>
</div>

<hr>
