.external-content {
    min-height: 1200px;
    overflow: hidden;
}

.external-content object {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

hr {
    border: 1px solid #eee;
}


.carousel-image {
    height: 415px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.carousel-caption {

}

.post {
    width: 100%;
    max-width: 100%;
}

.post img, .post .post-body img {
    width: 100%;
    height: auto;
}

.post .post-header {

}

.post .post-header .post-title {
    font-size: 1.5em;
}

.post .post-header .post-subtitle {

}

.post .post-body {
    padding-top:0px;
    width: 100%;
}

.post .post-actions {

}

.wp-video, .wp-video-shortcode {
    width: 100%;
    max-width: 100%;
}