<div class="top-interna">
    <div class="container">
    </div>
    <div class="title-page">
      <div class="container">
        <h4>Blog</h4>
        <span>Acompanhe publicações com base nas informações coletadas</span>
      </div>
    </div>
  </div>
  <script>
  $( document ).ready(function() {
    $('.search-button-toggle').click(function(){
      $('.container-search').hide();
    });
  });
  
  </script>

<div class="container detail-container " style="margin-top:0px;">
    <div class="card">
        <div class="card-body" style="padding-top:0px;">
          <div class="row external-content">
        
            <object type="text/html" data="http://cidadaofiscal.org/blog"></object>
          </div>
        </div>
      </div>
</div>
