.external-content {
    min-height: 1200px;
    overflow: hidden;
}

.external-content object {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

hr {
    border: 1px solid #eee;
}


.carousel-image {
    height: 415px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.carousel-caption {

}

.post {
    padding-top: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 1.2em;
}

.post img, .post .post-body img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.post .post-header {

}

.post .post-header .post-title {
    font-size: 1.5em;
}

.post .post-header .post-subtitle {
    font-variant: all-small-caps;
}

.post .post-body {
    padding-top:0px;
    width: 100%;
}

.post .post-content .link-more a {
    color: crimson;
}

.post .post-content {
}
.post .post-actions {

}

.history {
    padding-top: 15px;
    font-size: 1.2em;
}

.history .history-header {

    font-variant: all-small-caps;
}

.history .history-body ul {
    margin-block-start: 0px;
    padding-inline-start: 0px;
}
.history .history-body li {
    list-style: none;
    border-bottom: solid 1px #ccc;
}

.history a {
    color: #333;
}