

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('http://placehold.it/1900x1080')"></div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('http://placehold.it/1900x1080')"></div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('http://placehold.it/1900x1080')"></div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>  

<div class="container">
<!-- Summary Section -->
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 summary-item">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          Deputados
        </h4>
        <ngx-datatable class="bootstrap"
        [rows]="summaryMemberRows"
        [columns]="summaryMemberCols"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="5"
        [rowHeight]="'auto'">
        <ngx-datatable-column prop="memberPoliticalName" name="Deputado(a)">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span [ngbTooltip]="row.memberName" container="body">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="monthAverageExpenses" name="Média Mensal">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | currency:"R$"}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="monthSumExpenses" name="Total">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | currency:"R$"}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 summary-item">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          Fornecedores
        </h4>
        <ngx-datatable class="bootstrap"
          [rows]="summarySupplierRows"
          [columns]="summarySupplierCols"
          [columnMode]="'force'"
          [headerHeight]="40"
          [footerHeight]="40"
          [limit]="5"
          [rowHeight]="'auto'">
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
  <div class="col-lg-4 col-md-12">
    <h2>Entenda as informações</h2>
    <p>The Modern Business template by Start Bootstrap includes:</p>
    <ul>
      <li>
        <strong>Bootstrap v4</strong>
      </li>
      <li>jQuery</li>
      <li>Font Awesome</li>
      <li>Working contact form with validation</li>
      <li>Unstyled page elements for easy customization</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
  </div>
  <div class="col-lg-8 col-md-12">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            Despesas por Ano
          </h4>
          <ngx-datatable class="bootstrap"
            [rows]="summaryExpesesYearRows"
            [columns]="summaryExpesesYearCols"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="3"
            [rowHeight]="'auto'">

          </ngx-datatable>
        </div>
      </div>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="row mb-4">
  <div class="col-md-8">
    <p>Todo o projeto foi desenvolvido por cidadãos como você, usando um pouco do tempo tão concorrido de nossos dias. Junte-se a nós como voluntário e ajude a fazer ainda mais!</p>
  </div>
  <div class="col-md-4">
    <a class="btn btn-lg btn-secondary btn-block" href="#" routerLink="/about">Seja um Volutário</a>
  </div>
</div>

</div>