

<ngb-carousel>
<div class="col-md-12">
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('./assets/img/bg-slide.png');"></div>
    <div class="carousel-caption">
	<div class="row -two-col-xs">
		<div class="col col-img">
			<img src="./assets/img/slide1.png" />
		</div>
		<div class="col">
			<h3>Alisando os <span>gastos públicos</span></h3>
			<p>Em seu primeiro projeto, o cidadaofiscal.org mostra a finalidade das verbas indenizatórias da Assembléia Legislativa de Pernambuco.</p>
		</div>
	</div>
	</div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('./assets/img/bg-slide.png');"></div>
    <div class="carousel-caption">
	<div class="row -two-col-xs">
		<div class="col col-img">
			<img src="./assets/img/slide2.png" />
		</div>
		<div class="col">
		      <h3>ALEPE</h3>
			  <p>Todos os dados utilizados neste projeto estão disponíveis publicamente para consulta.</p>
		</div>
	</div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image" style="background-image: url('./assets/img/bg-slide.png');"></div>
    <div class="carousel-caption">
	<div class="row -two-col-xs">
		<div class="col col-img">
			<img src="./assets/img/slide3.png" />
		</div>
		<div class="col">
			<h3>É Possível</h3>
			<p>Este é um projeto voluntário feito por pessoas que acreditam que <strong>É POSSÍVEL</strong> mudar o país com uma participação saudável na política.</p>
		</div>
	</div>
      
    </div>
  </ng-template>
</div>
</ngb-carousel>  

<div class="container">
<!-- Summary Section -->
<div class="row">
  <div class="col-lg-7 col-md-12 col-sm-12 summary-item">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <img src="./assets/img/icon1.png" />
          <div>
            Deputados
            <span>Quais são os deputados que mais gastam?</span>
          </div>
        </h4>
        
        <div class="small-table-container">
          <table class="cf-data-table">
            <thead>
              <tr>
                <th>Deputado(a)</th>
                <th>Média Mensal</th>
                <th>Total Acumulado</th>
                <th>Uso de Verba</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of summaryMemberRows; odd as odd" [ngClass]="{'row-odd' : odd}">
                <td class="col-md-3 col-sm-3 align-left"><span [ngbTooltip]="row.memberName" container="body">{{row.memberPoliticalName}} ({{row.memberParty}})</span></td>
                <td class="col-md-3">{{row.monthAverageExpenses | currency:"R$"}}</td>
                <td class="col-md-3"><span class="content-attention">{{row.monthSumExpenses | currency:"R$"}}</span></td>
                <td class="col-md-3">{{row.monthSumExpenses/525300 | percent}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <table class="cf-data-table">
          <tfoot>
            <tr>
              <th>Total</th>
              <th>Média Geral</th>
              <th>Total Geral</th>
              <th>Média de Uso</th>
            </tr>
            <tr>
              <td class="col-md-3 col-sm-3">{{summaryMemberCount}}</td>
              <td class="col-md-3">{{summaryMemberGeneralAvg | currency:"R$"}}</td>
              <td class="col-md-3"><span class="content-severe">{{summaryMemberGeneralSum | currency:"R$"}}</span></td>
              <td class="col-md-3">{{summaryMemberGeneralAvg | currency:"R$"}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-12 col-sm-12 summary-item">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
		  <img src="./assets/img/icon2.png" />
		  <div>
			  Fornecedores
			   <span>Quais são as empresas que mais recebem?</span>
		   </div>
        </h4>
        
        <div class="small-table-container">
            <table class="cf-data-table">
              <thead>
                <tr>
                  <th>Fornecedor</th>
                  <th><span [ngbTooltip]="'Quantidade de Deputados'" container="body">Qtd. Dep.</span></th>
                  <th>Total Recebido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of summarySupplierRows; odd as odd" [ngClass]="{'row-odd' : odd}">
                  <td class="col-md-6 col-sm-5 align-left"><span [ngbTooltip]="row.supplierId" container="body">{{row.supplierName}}</span></td>
                  <td class="col-md-2">{{row.memberCount}}</td>
                  <td class="col-md-4"><span class="content-attention">{{row.sumExpenses | currency:"R$"}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
  <div class="col-lg-12 col-md-12">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
		    <img src="./assets/img/icon3.png" />
			<div>
				Despesas por Ano
				<span>Como o seu dinheiro é gasto?</span>
			</div>
          </h4>
          <ngx-datatable class="bootstrap"
            [rows]="summaryExpesesYearRows"
            [columnMode]="'flex'"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="3"
            [rowHeight]="'46'"
            [messages]="{emptyMessage:'Sem dados para exibir',totalMessage:'(total)'}">
              <ngx-datatable-column prop="expenseType" name="Tipo de Despesa" [flexGrow]="3">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span [ngbTooltip]="value | expenseType" container="body">{{value | expenseType}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="y2015" name="2015" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | currency:"R$"}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="y2016" name="2016" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | currency:"R$"}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="y2017" name="2017" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | currency:"R$"}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="total" name="Total" [flexGrow]="2">
                <ng-template let-value="value"  ngx-datatable-cell-template>
                    {{value | currency:"R$"}}
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
</div>
<!-- /.row -->

<hr>

