
<!-- Navigation -->
<nav class="navbar  navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true"><img src="../assets/img/brand.png" /></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent" >
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" routerLink="/dashboard" (click)="navbarCollapsed = true">Resumo</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" routerLink="/detail" (click)="navbarCollapsed = true">Detalhes</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link link-bg" href="#" routerLink="/about" (click)="navbarCollapsed = true">Junte-se a Nós</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" ><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" ><i class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Content -->
  <router-outlet></router-outlet>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Desenvolvido voluntariamente com dados públicos. cidadaofiscal.org</p>
  </div>
  <!-- /.container -->
</footer>
