
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Cidadão Fiscal</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" routerLink="/dashboard" (click)="navbarCollapsed = true">Resumo</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" routerLink="/detail" (click)="navbarCollapsed = true">Detalhes</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" routerLink="/about" (click)="navbarCollapsed = true">Junte-se a Nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Content -->
  <router-outlet></router-outlet>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Desenvolvido voluntariamente com dados públicos. cidadaofiscal.org</p>
  </div>
  <!-- /.container -->
</footer>
