<div class="top-interna">
	<div class="container">
	</div>
	<div class="title-page">
		<div class="container">
			<h4>Contato</h4>
			<span>Envie sugestões ou entre em contato para fazer parte do nosso grupo</span>
		</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	$('.search-button-toggle').click(function(){
		$('.container-search').hide();
	});
});

</script>
<div class="container detail-container" style="margin-top:0px;">
    <div class="card">
      <div class="card-body" style="padding-top:0px;">
        <div class="row container-contato">
			<div class="col-md-7" style="margin-top:30px;">
			<p>Escreva-nos para compartilhar o que pensa do projeto, contribuir com suas sugestões, críticas ou para fazer parte do grupo.</p>
			<div class="row">
              <div class="form-group col-md-6">
                <label>Nome</label>
                <input required type="text" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Email</label>
                <input required type="email" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Telefone</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Assunto</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label>Mensagem</label>
                <textarea required class="form-control textarea-height" rows="5"></textarea>
              </div>
			  <div class="col-md-12">
			  <button type="submit" class="btn btn-primary">Enviar</button>
			  </div>
			</div>
			</div>
			<div class="col-md-5" style="margin-top:30px;">
				<img src="./assets/img/img-contato.png" />
			</div>
        </div>
      </div>
    </div>
</div>
