<div class="top-interna">
	<div class="container">
	</div>
	<div class="title-page">
		<div class="container">
			<h4>Contato</h4>
			<span>Breve descrição da pagina de detalhes.</span>
		</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	$('.search-button-toggle').click(function(){
		$('.container-search').hide();
	});
});

</script>
<div class="container detail-container" style="margin-top:0px;">
    <div class="card">
      <div class="card-body" style="padding-top:0px;">
        <div class="row container-contato">
			<div class="col-md-7" style="margin-top:30px;">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<div class="row">
              <div class="form-group col-md-6">
                <label>None</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Telefone</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Assunto</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label>None</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
			  <div class="col-md-12">
			  <button class="btn btn-primary">Enviar</button>
			  </div>
			</div>
			</div>
			<div class="col-md-5" style="margin-top:30px;">
				<img src="./assets/img/img-contato.png" />
			</div>
        </div>
      </div>
    </div>

  <div class="col-lg-12 col-md-12">
  <div class="row -two-col-xs container-sobre">
	<div class="col-lg-6 col-md-6 text-center">
		<img src="./assets/img/logo-g.png" />
		<a class="btn btn-lg btn-secondary btn-block" href="#" routerLink="/about">Seja um Volutário</a>
	</div>
	<div class="col-lg-6 col-md-6">
    <h2>Entenda o <span>Projeto</span></h2>
    <p>O CidadãoFiscal apresenta informações públicas em forma organizada para facilitar o entendimento por parte de todos os cidadãos.</p>
    <ul>
      <li>
        Projeto voluntário
      </li>
      <li>Sem vínculo partidário</li>
      <li>Aberto a sugestões e novos colaboradores</li>
    </ul>
    <p>Os dados de vérbas indenizatórias da ALEPE (Assembléia Legislativa de Pernambuco) foram escolhidos para o primeiro trabalho do Cidadão Fiscal pro permitirem uma análise direta da população sobre como seus eleitos mais próximos estão utilizando o dinheiro público.</p>
	</div>
  </div>
  </div>
</div>
