<div class="top-interna">
	<div class="container">
	</div>
	<div class="title-page">
		<div class="container">
			<h4>Contato</h4>
			<span>Envie sugestões ou entre em contato para fazer parte do nosso grupo</span>
		</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	$('.search-button-toggle').click(function(){
		$('.container-search').hide();
	});
});

</script>
<div class="container detail-container" style="margin-top:0px;">
    <div class="card">
      <div class="card-body" style="padding-top:0px;">
        <div class="row container-contato">
			<div class="col-md-7" style="margin-top:30px;">
			<p>Escreva-nos para compartilhar o que pensa do projeto, contribuir com suas sugestões, críticas ou para fazer parte do grupo: <a href="mailto:contato@cidadaofiscal.org">contato@cidadaofiscal.org</a>.</p>
			</div>
			<div class="col-md-5" style="margin-top:30px;">
				<img src="./assets/img/img-contato.png" />
			</div>
        </div>
      </div>
    </div>
</div>
